body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: darkslateblue;
    color: white;
    padding: 2;
    container-type: flex;
    text-align: center;
}

.container-1 {
    max-width: 1400px;
}

aside {
    columns: calc(0.75rem * var(--tw-space-x-reverse));
    padding-bottom: 3;
}

h2 {
    margin-top: 1;
    height: 3;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
}

#search-input, .search-btn {
    padding: 0;
    font-size: 16px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

.search-btn {
    background-color: #3498db;
    color: white;
    border: 1px solid #007bff;
    cursor: pointer;
    margin-top: 5px;
}

.search-btn:focus {
    outline: none;
}

.today {
    margin-top: 0.75rem;
}

.forecast {
    margin-top: 0.75rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

